.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 0.3125rem;

    font-size: 14px;
    font-weight: 400;

    padding: 0.5rem 1rem;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-danger {
    border-color: #f1aeb5;
    color: #f00;
    background-color: #f8d7da;
}