table {
    border-collapse: collapse;
    border-spacing: 0;

    width: 100%;
    white-space: nowrap;
}

thead {
    /* color: var(--theme-secondary); */
    background-color: var(--theme-secondary);

    position: sticky;
    top: -0.5px;
    z-index: 4;
}

table thead tr,
table tbody tr {
    border-width: 1px 0 1px 0 !important;
    border-style: solid;
    border-color: var(--border-clr);
    scroll-snap-align: start;
}

table thead tr {
    border-top: 0;
}

table thead th,
table tbody td {
    padding: 0.75em;
    text-align: center;
}